@media print {
    body, .page {
      margin: 0;
      box-shadow: none;
      width: 21cm;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    #navButtons {
      display: none;
    }
    .footerTwo {
      top: 55.6cm;
    }
    .pell-actionbar{
      display: none;
    }
    .pell-content:hover{
      border: none;
    }
    #toolbar-wrapper{
        display: none;
    }
    .pageSeparator {
      display: none;
    }
    #richtextToolbarWrapper{
      display: none;
    }
    #language-picker-wrapper{
      display: none;
    }
    #language-picker-wrapper>*{
      display: none;
    }
    .language-picker {
      display: none;
    }
    .language-picker>* {
      display: none;
    }
    .myArrowClassName {
      display: none !important;
    }
    .copyButton {
      display: none;
    }
    .no-print {
      display: none;
    }
  }
