*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: var(--psblue) */
}
body {
    background: rgb(230,230,230); 
    width: 100%;
    height: 100%;
}
.copyButton, .copyButton > * {
  cursor: pointer;
}